@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}